body {
	border: none;
}

header {
	display: none;
}

#article {
	margin: auto;
	width: 100%;
	background: none;
	border: none;
	box-shadow: none;
	font-size: 12px;
}

pre, code {
	font-size: 12px;
	
}

.paginator {
	display: none;
}

/* Show URL */
a a:link, a:visited {
	background: transparent;
	color:#333;
	text-decoration:none;
}

a:link:after, a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 11px;
}

a {
	color:#000;
}