body {
  color: #333;
  background: #fff;
  margin: 0px;
  border-top: 5px solid #0077bb;
  font-family: serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

a {
  color: #0077bb;
  text-decoration: none;
}

a.paginator {
  font-weight: 700;
}

span.disabled {
  color: #777;
  font-weight: 700;
  cursor: default;
}

#article {
  background: #ecf2f5;
  border-radius: 10px;
  padding: 21px;
  margin: auto;
  margin-bottom: 21px;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  font-size: 16px;
  text-align: justify;
  line-height: 1.5em;
}

#article a:hover {
  color: #666;
}

img {
  max-width: 100%;
}

img.social {
  margin: 5px;
  border-radius: 0px;
}

img.myself {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-family: Arial, 'DejaVu Sans', sans-serif;
  background: #ecf2f5;
  margin-bottom: 20px;
  border-bottom: 2px solid #767676;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

code {
  font-family: monospace;
  color: black;
  border: 1px solid #DEDEDE;
  padding: 0px 0.2em;
}

pre {
  font-family: monospace;
  color: black;
  background-color: #ffffff;
  padding: 1.2em;
  border: 2px solid #dddddd;
  overflow: auto;
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

th {
  border-bottom: 2px solid;
}

th, td {
  padding: .3em;
  padding-right: .5em;
  margin: 2px;
}

tr {
  border-bottom: 1px solid;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

@media (min-width: 768px){

  #article {
	width: 75%;
  }

  pre, code {
    font-size: 14px;
  }
}

@media (max-width: 568px) {

  #article {
	text-align: left;
  }

  img {
	max-width: 100%;
  }
}

pre > code {
  border: none;
  display: inline-block;
}

.social {
  margin-top: 13px;
  text-align: right;
}

.paginator {
  padding: 1em;
  margin: 5px;
  text-align: center;
}

#title-description {
  text-align: center;
}

#title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

#description {
  text-align: center;
  font-size: 16px;
  font-weight: none;
}

#top-nav {
  text-align: center;
}

#top-nav ul {
  padding: 0px;
}

#top-nav li {
  display: inline;
  padding: 0 5px;
}

#top-nav li a {
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  padding: 0.5em 1em;
  text-shadow: none;
  text-transform: uppercase;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
}

#top-nav li a:hover {
  background: #bbb;
  padding: 0.5em 1em;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
}

#top-nav li.active a {
  background: #0077bb;
  color: #fff;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.meta {
  color: #767676;
  font-weight: 600;
  vertical-align: middle;
  font-size: 18px;
}

#excerpts hr {
  background: #dddddd;
  border-radius: 3px;
  margin-top: 20px;
  width: 80%;
  height: 3px;
  border: none;
}

#archive {
  list-style-type: none;
}

#archive li {
  padding: 5px;
}

#archive li a {
  font-size: 18px;
  padding: 5px 0px 5px 0;
  width: 100%;
}

#archive li:hover {
  background: #bbb;
  color: #0077bb;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
}

.post {
}

.backwards {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}

#about {
  font-size: 16px;
  border-radius: 5px;
  padding: .5em;
  margin: 0 .5em;
}

.about-item {
  margin-bottom: 15px;
}

.about-desc {
  font-weight: bold;
}

.about-code {
  word-spacing: 5px;
  line-height: 1.5em;
}
