html {
}

body {
	font-family: "DejaVu Sans Mono", monospace;
	font-size: 13px;
	color: #333;
	background-color: white;
	text-align: center;
	margin: 0px;
}

hr {
	color: #0292cc;
	border: 1px solid #0292cc;
}

#header {
	color: #0292cc;
	margin-top: 10px;
}

#header h1 {
	font-size: 1.3em;
}

#header pre {
	margin-top: 2em;
}

#main {
	margin: 20px auto 0px auto; 
	text-align: justify;
	max-width: 45em;
	padding: 0px 10px;
}

#footer {
	max-width: 56em;
	margin: auto;
	text-align: justify;
}

.section{
}

.article-header {
	float: left;
}

.article {
	margin-top: 0.5em;
}

.date {
	float: right;
}

.signature {
	margin-top: 0.5em;
	text-align: right;
}

a {
	color: #0292cc;
}

a:hover {
	color: lime;
}

h1, h2, h3, h4 {
	color: #0292cc;
	margin: 0px;
	font-size: 1em;
	display: inline-block;
}

p {
	margin: 0px;
}

pre, code {
	margin: 0px;
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  text-align: left;
}

tbody {
  border-bottom: 1px solid;
}

th {
  border-top: 2px solid;
  border-bottom: 1px solid;
}

th, td {
  padding: .3em;
  padding-right: .5em;
  margin: 2px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

td.first-column {
  font-weight: bold;
}

@media(max-width: 400px) {
	
	#header pre {
		font-size: 0.8em;
	}
	
	#main {
		max-width: 100%;
		text-align: left;
	}
}
