---
layout: default
title: sudden kernel panic 
---

<div id="excerpts">
    {% for post in paginator.posts %}
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p class="meta">{{ post.date | date: "%Y-%m-%d" }}</p>
		<div class="post">
			{{ post.excerpt }}
		</div>
		<a href="{{ post.url }}">more...</a>
		<hr />
    {% endfor %}
</div>

<div class="paginator">
	{% if paginator.previous_page %}
		<a class="paginator" href="{{ paginator.previous_page_path }}">NEWER POSTS</a>
	{% else %}
		<span class="disabled">NEWER POSTS</span>
	{% endif %}
	{% if paginator.next_page %}
		<a class="paginator" href="{{ paginator.next_page_path }}">OLDER POSTS</a>
	{% else %}
		<span class="disabled">OLDER POSTS</span>
	{% endif %}
</div>
